
@keyframes move {
    from {
        opacity: 0.7;
    }
    to {
      transform: translateY(-33vh);
      opacity: 0;
    }
}

.particle {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    border-radius: 50%;    
}

.particle:nth-child(1){   
    background: var(--col-kitgreen);
    height: 20px;
    width: 20px;
    right: 12vh;
    animation: move 5s infinite;
}

.particle:nth-child(2){   
    background: var(--col-kitgreen);
    height: 22px;
    width: 22px;
    animation: move 7s infinite;
    animation-delay: var(--delay);
    right: 48vh;
}

.particle:nth-child(3){   
    background: var(--col-kitblue);
    height: 18px;
    width: 18px;
    animation: move 6s infinite;
    animation-delay: calc(2*var(--delay));
    right: 79vh;
}

.particle:nth-child(4){   
    background: var(--col-kitblue);
    height: 25px;
    width: 25px;
    animation: move 9s infinite;
    animation-delay: calc(3*var(--delay));
    right: 30vh;
}

.particle:nth-child(5){   
    background: var(--col-kitgreen);
    height: 12px;
    width: 12px;
    animation: move 4s infinite;
    animation-delay: calc(4*var(--delay));
    right: 60vh;
}