/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&Montserrat:wght@300;800&Rubik&Roboto&family=Permanent+Marker&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&Baloo+Bhai+2&Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /* col1: hero background, body font
       col2: hero font, body background        
    
    --col-1: #2C3639;
    --col-2: #EEEEEE;    
    --col-3: rgb(168, 168, 168); */

    --col-1: #1D2A35; 
    --col-2: #F2F5F8;    

    --col-kitgreen: rgb(0,150,130);
    --col-kitblue: rgb(70,100,170);
    --delay: 2s;
  }

* {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

body {
    background-color: var(--col-2); 
    color: var(--col-1);    
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;    
    color: var(--col-2);
}

a:hover {
    /* font-weight: bold; */
}

h2, h3, h4 {
    font-family: "Spectral", serif;
    /* font-family: "Karla", sans-serif; */
    font-weight: 600;
    font-size: 200%;
}

h1 {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-size: 350%;
    text-shadow: 2px 2px 0px black;
    margin: auto;
    margin-top: 0px;
    max-width: 1000px;
}

p {
    line-height: 1.4em;
}

.hero {
    background-color: var(--col-1);
    color: var(--col-2);
    text-align: center;
    min-height: 100vh;
    padding: 20px;
}

.herotext {
    /* font-family: "Spectral", serif;
    font-weight: 600; */
    font-size: 150%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1200px;
}

.section {
    /* background-color: var(--col-2); */
    min-height: 100vh;
    padding: 20px;
}

.navbar {
    color: var(--col-2);
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 2px;
    border-style: solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: var(--col-1);
}

.navbarbox {    
    position: fixed;
    bottom: 0px;
    background-color: var(--col-1);
    width: calc(100% - 40px);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
a.navbar:hover {
    border-color: var(--col-2);
}

.align-center{
    display: block;
    margin: 0px auto;
}

.heroimg{
    width: 100%;
    max-width: 1000px;
}

@keyframes move {
    from {
        opacity: 0.7;
    }
    to {
      transform: translateY(-33vh);
      opacity: 0;
    }
}

.particle {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    border-radius: 50%;    
}

.particle:nth-child(1){   
    background: var(--col-kitgreen);
    height: 20px;
    width: 20px;
    right: 12vh;
    animation: move 5s infinite;
}

.particle:nth-child(2){   
    background: var(--col-kitgreen);
    height: 22px;
    width: 22px;
    animation: move 7s infinite;
    animation-delay: var(--delay);
    right: 48vh;
}

.particle:nth-child(3){   
    background: var(--col-kitblue);
    height: 18px;
    width: 18px;
    animation: move 6s infinite;
    animation-delay: calc(2*var(--delay));
    right: 79vh;
}

.particle:nth-child(4){   
    background: var(--col-kitblue);
    height: 25px;
    width: 25px;
    animation: move 9s infinite;
    animation-delay: calc(3*var(--delay));
    right: 30vh;
}

.particle:nth-child(5){   
    background: var(--col-kitgreen);
    height: 12px;
    width: 12px;
    animation: move 4s infinite;
    animation-delay: calc(4*var(--delay));
    right: 60vh;
}

/* Three columns side by side */
.personcolumn {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

.projectcolumn {
float: left;
width: 49%;
margin-bottom: 16px;
padding: 0 8px;
}
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .personcolumn {
      width: 100%;
      display: block;
    }
  }
 
  .card {
    box-shadow: 0 4px 8px 0 var(--col-1);
    /* border-radius: 25px */
    border-radius: 0px 0px 25px 0px; 
	  overflow: hidden;
    transition: 0.5s;
  }

  .container {
    padding: 0px 16px;   
    transition: 0.5s;
  }
  .img_container {
    /* background-color: #000000; */
	  overflow: hidden;
    padding: 0;   
    opacity: 0.85;
    transition: 0.5s;
  }
  .card:hover{
    box-shadow: 0 8px 12px 0 var(--col-1);
  }
  .card:hover .container {
    transform: translateY(-20px); 
  }  
  .card:hover .img_container {
    opacity: 1; 
    /* transform: translateY(-20px);   */
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: var(--col-1);
  }
  
  .cardtext {
    height: 100px;
    overflow-y: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .cardtext::-webkit-scrollbar {
    display: none;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;    
    border-radius: 0px 0px 20px 0px;
    padding: 8px;
    color: var(--col-2);
    background-color: var(--col-1);
    text-align: center;
    cursor: pointer;
    width: 100%;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
  }
  
  .card:hover .button {
    transform: translateY(20px);
    opacity: 1;
  }
  .button:hover {
    background-color: #555;
  }
 */